.bg-image {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background-image: url("images/background-mobile.jpg");
  background-size: cover;
  filter: blur(5px);
  transform: scale(1.02);
}
.bg-white-layer {
  background-color: white;
  opacity: 0.8
}

.navbar-brand {
  font-size: 1.2em;
}

.navbar {
  padding: 0.5em 1em 0.5em 1em;
  font-size: 1.2em;
}

@media only screen and (orientation: landscape) {
  .bg-image {
    background-image: url("images/background.jpg");
  }
}
