@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

.bg-image {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background-image: url("images/background-mobile.jpg");
  background-size: cover;
  filter: blur(5px);
  transform: scale(1.05);
}
.bg-white-layer {
  background-color: rgba(255,255,255,0.8);
}

.navbar-brand {
  font-size: 1.2em;
}

.navbar {
  padding: 0.5em 1em 0.5em 1em;
  font-size: 1.2em;
}

#home-section {
  height: 25vh;
  width: 100vw;
  margin-top: 30vh;
}

.welcome-h1 {
  position: relative;
  text-align: center;
  top: 9.5vh;
}

#gallery-section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-top: 50vh;
}

.gallery-h1 {
  padding-top: 9.5vh;
  padding-bottom: 9.5vh;
  display: block;
  text-align: center;
}

.gallery-container-master {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-img {
  width: min(80vw, 720px);
  margin-bottom: 9.5vh;
  border-style: solid;
  border-width: 10px;
  border-color: white;
}

#pricing-section {
  margin-top: 50vh
}

.pricing-h1 {
  padding-top: 9.5vh;
  padding-bottom: 9.5vh;
  display: block;
  text-align: center;
}

.price-cards-container {
  display: flex;
  flex-direction: column;
}

.price-card {
  margin: auto 15vw 10vh 15vw;
  background-color: rgba(255,255,255,1);
  border-style: solid;
  border-color: black;
  padding: 4vh;
  border-radius: 25px;
  text-align: center;
}

#contact-section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-top: 50vh;
}

.contact-h1 {
  padding-top: 9.5vh;
  padding-bottom: 4vh;
  display: block;
  text-align: center;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.booking-img {
  width: 45vw;
  padding: 5vw;
}

.airbnb-img {
  width: 40vw;
  padding: 5vw;
}

.gmail-img {
  width: 30vw;
  padding: 5vw;
}

@media only screen and (orientation: landscape) {
  .bg-image {
    background-image: url("images/background.jpg");
  }

  .price-cards-container {
    flex-direction: row;
    justify-content: center;
  }

  .price-card {
    margin: auto auto 20vh auto;
  }

  .contacts-container {
    flex-direction: row;
  }

  .booking-img {
    width: 25vw;
    padding: 5vw;
  }
  
  .airbnb-img {
    width: 25vw;
    padding: 5vw;
  }
  
  .gmail-img {
    width: 20vw;
    padding: 5vw;
  }

}
